<p id="notice"><%= notice %></p>

<h1>T Orders</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_orders.each do |t_order| %>
      <tr>
        <td><%= t_order.price %></td>
        <td><%= link_to 'Show', t_order %></td>
        <td><%= link_to 'Edit', edit_t_order_path(t_order) %></td>
        <td><%= link_to 'Destroy', t_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T Order', new_t_order_path %>
