<p id="notice"><%= notice %></p>

<h1>Ev Venues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ev_venues.each do |ev_venue| %>
      <tr>
        <td><%= ev_venue.name %></td>
        <td><%= ev_venue.address %></td>
        <td><%= ev_venue.capacity %></td>
        <td><%= link_to 'Show', ev_venue %></td>
        <td><%= link_to 'Edit', edit_ev_venue_path(ev_venue) %></td>
        <td><%= link_to 'Destroy', ev_venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ev Venue', new_ev_venue_path %>
